* {
    font-family: "Rajdhani Semi";
}

@font-face {
    font-family: 'Rajdhani Med';
    src: url("./Font/Rajdhani-Medium.ttf");
}
@font-face {
    font-family: 'Rajdhani Semi';
    src: url("./Font/Rajdhani-SemiBold.ttf");
}
@font-face {
    font-family: 'Rajdhani Bold';
    src: url("./Font/Rajdhani-Bold.ttf");
}